<web-app>

<servlet>
<servlet-name> log </servlet-name>
<servlet-class> login.Login </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name> log </servlet-name>
<url-pattern>/log </url-pattern>
</servlet-mapping>


<servlet>
<servlet-name> connexion </servlet-name>
<servlet-class> login.Connexion </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name> connexion </servlet-name>
<url-pattern>/connexion </url-pattern>
</servlet-mapping>


<servlet>
<servlet-name> menu </servlet-name>
<servlet-class> menu.Menu </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name> menu </servlet-name>
<url-pattern>/menu </url-pattern>
</servlet-mapping>


<servlet>
<servlet-name> vueMedia </servlet-name>
<servlet-class> vuemedia.VueMediatheque </servlet-class>
</servlet>

<servlet-mapping>
<servlet-name> vueMedia </servlet-name>
<url-pattern>/vueMedia </url-pattern>
</servlet-mapping>

</web-app>